

body{
    background: rgb(177, 170, 22);
    background: linear-gradient(180deg, rgb(255, 152, 73) 0%, rgba(255,136,49,1) 50%, rgba(255,0,0,1) 100%);
    margin-left: 20px;
    margin-right: 20px;
}

.margem-button{
    margin-right: 15px;
    margin-bottom: 30px;
}

.estilo-botao{
    color:rgb(255, 255, 255);
    font-weight: 600;
}

.btn-success{
    background-color: rgb(255, 68, 0);
    color: white;
    border-color: white;
}
.btn-success:hover{
    background-color: transparent;
    color: rgb(255, 68, 0);
    border-color: rgb(255, 68, 0);
}
.btn-outline-success {
    color:  rgb(255, 68, 0);
    border-color: rgb(255, 68, 0);
    background-color: transparent;
}
.btn-outline-success:hover{
    color:  rgb(255, 68, 0);
    border-color: rgb(255, 68, 0);
    background-color: transparent;
}
.form-control {
    display: block;
    width: 50%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.card-estilo{
    background-color:#000000ba;
    color: aliceblue;
    border-style: none;
    margin-bottom: 60px;
    text-align: center;
}

.card-estilo:hover{
   cursor: pointer;
   box-shadow: 0 0 4px blanchedalmond;

}

.card-estilo h5{
    text-align: center;
    font-weight: 500;
    font-family:'Courier New', Courier, monospace;
    font-size: xx-large;
    color: blanchedalmond;
}

.card-estilo .divbotao{
    text-align: center;
}

.card-estilo .list-group-item {
    background-color:#1c2212ba;
    color:blanchedalmond;
    text-align: center;
    border: 3px;
}

.footer-estilo{
    background-color: #1c2212ba;
    color:blanchedalmond;
}

.estilo-card2{
    text-align: center;
    color: blanchedalmond;
    text-shadow: 0 0 6px #ff6a00;
    background-image: url('../imagens/Design\ sem\ nome.png');
    background-size: cover;
    background-position: center;
    height: 300px;
    margin-bottom: 40px;
}

.estilo-card2 h5{
    margin-top: 30px;
    font-family:'Courier New', Courier, monospace;
    font-size: 3em;
    font-weight: 500;
}

.estilo-card2 p{
    font-size: 1.5em;
    font-weight: 500;
}

@media screen and (max-width: 768px) {
    .estilo-card2 h5 {
        font-size: 2em;
    }

    .estilo-card2 p {
        font-size: 1em;
    }
}

.list-group-item{
    text-align: center;
    color: blanchedalmond;
    background: none;
    border: 3px;
}

.comidas{
    margin-bottom: 60px;
    margin-top: 60px;
    background-color: rgba(255, 255, 255, 0.5);
    color: blanchedalmond;
    padding: 20px;
    font-size: large;
    border-radius: 2rem;
}

.comidas h2{
    font-family:'Courier New', Courier, monospace;
}

.comidas img{
    border-radius: 2rem;
}